.div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.label {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-secondary);
}

.input {
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  transition: all 0.2s;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}
